header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    position: fixed;
    top: 0;
    width: 93.5%;
    background: linear-gradient(90deg, #000, #020617);
    padding: 30px 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
}

h1 {
    margin: 0;
    font-size: 38px;
    color: #38bdf8;
    letter-spacing: 2px;
}
h2 {
    margin: 0;
    font-size: 42px;
    color: #facc15;
    letter-spacing: 2px;
}
p {
    margin: 5px;
    letter-spacing: 2px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    background-image: url("fundo.png");
    background-size: cover;        /* cobre toda a tela */
    background-position: center;
    background-repeat: no-repeat;
}
.historia {
    width: 70%;
    max-width: 800px;

    margin: 150px auto; /* centraliza */
    padding: 40px;

    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;

    border-radius: 20px;

    box-shadow: 0 0 30px rgba(56, 189, 248, 0.4);
    text-align: center;
}
.historia p {
    font-size: 24px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}
nav {
    display: flex;
    gap: 60px;
    margin-right:33.3 ;
}

nav a {
    text-decoration: none;
    color: #9ca3af;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    transition: 0.3s;
     color: #facc15;
}
nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #38bdf8;
    transition: 0.3s;
}
nav a:hover::after {
    width: 100%;
}
nav a:hover {
    color: #38bdf8;
}
